extends layout

block content
  a(href='https://github.com/anders94/blockchain-demo/')
  .container
    h1 Blockchain Demo
    .embed-responsive.embed-responsive-16by9
    br
    p.pull-right by 
      a(href='http://andersbrownworth.com/') Thédispard
      | 1K3NvcuZzVTueHW1qhkG2Cm3viRkh2EXJp
    p Blockchain demo