extends layout

block content
  a(href='https://github.com/anders94/blockchain-demo/')
  .container
    h1 Visual Blockchain Demo - Enseignement Scientifique
    .embed-responsive.embed-responsive-16by9
    br
    p.pull-right by 
      a(href='http://andersbrownworth.com/') Thédispard
    p Blockchain demo